In [2]:
import pandas as pd
eleicao_dados_2022 = pd.read_csv('Eleicoes/votacao_candidato_2022.csv')
eleicao_dados_2018 = pd.read_csv('Eleicoes/votacao_candidato_2018.csv')
eleicao_dados_2014 = pd.read_csv('Eleicoes/votacao_candidato_2014.csv')
eleicao_dados_2010 = pd.read_csv('Eleicoes/votacao_candidato_2010.csv')
eleicao_dados_2006 = pd.read_csv('Eleicoes/votacao_candidato_2006.csv')
eleicao_dados_2002 = pd.read_csv('Eleicoes/votacao_candidato_2002.csv')

In [3]:
centrao_2002 = pd.read_csv('centrao_2003.csv')
centrao_2006 = pd.read_csv('centrao_2007.csv')
centrao_2010 = pd.read_csv('centrao_2011.csv')
centrao_2014 = pd.read_csv('centrao_2015.csv') 
centrao_2018 = pd.read_csv('centrao_2019.csv')
centrao_2022 = pd.read_csv('centrao_2022.csv')

In [36]:
import pandas as pd
eleicao_2022_deputados = pd.read_csv('Eleicoes/votacao_candidato_munzona_2022/votacao_candidato_munzona_2022_DEPUTADOS.csv', encoding='latin1', sep=';')

In [38]:
eleicao_2022_deputados.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
       'NM_TIPO_ELEICAO', 'NR_TURNO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO',
       'TP_ABRANGENCIA', 'SG_UF', 'SG_UE', 'NM_UE', 'CD_MUNICIPIO',
       'NM_MUNICIPIO', 'NR_ZONA', 'CD_CARGO', 'DS_CARGO', 'SQ_CANDIDATO',
       'NR_CANDIDATO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO',
       'NM_SOCIAL_CANDIDATO', 'CD_SITUACAO_CANDIDATURA',
       'DS_SITUACAO_CANDIDATURA', 'CD_DETALHE_SITUACAO_CAND',
       'DS_DETALHE_SITUACAO_CAND', 'CD_SITUACAO_JULGAMENTO',
       'DS_SITUACAO_JULGAMENTO', 'CD_SITUACAO_CASSACAO',
       'DS_SITUACAO_CASSACAO', 'CD_SITUACAO_DCONST_DIPLOMA',
       'DS_SITUACAO_DCONST_DIPLOMA', 'TP_AGREMIACAO', 'NR_PARTIDO',
       'SG_PARTIDO', 'NM_PARTIDO', 'NR_FEDERACAO', 'NM_FEDERACAO',
       'SG_FEDERACAO', 'DS_COMPOSICAO_FEDERACAO', 'SQ_COLIGACAO',
       'NM_COLIGACAO', 'DS_COMPOSICAO_COLIGACAO', 'ST_VOTO_EM_TRANSITO',
       'QT_VOTOS_NOMINAIS', 'NM_TIPO_DESTINACAO_VOTOS',
       'QT_VOTOS_NOMINAIS_VALIDOS', 'CD_SIT_TOT_TURNO', 'DS_SIT_TOT_TURNO'],
      dtype='object')

In [46]:
eleicao_grouped_2022 = eleicao_2022_deputados.groupby(['CD_MUNICIPIO','NM_URNA_CANDIDATO'])['QT_VOTOS_NOMINAIS'].sum().reset_index()

In [47]:
# Normalize the names in centrao_2022
centrao_2022['0'] = centrao_2022['0'].astype(str).apply(unidecode.unidecode)
centrao_2022['0'] = centrao_2022['0'].str.strip()  # Remove leading and trailing spaces
centrao_2022['0'] = centrao_2022['0'].str.replace(r'\s+', ' ', regex=True)  # Normalize whitespace

# Normalize the names in merged_df_2022
eleicao_grouped_2022['NM_URNA_CANDIDATO'] = eleicao_grouped_2022['NM_URNA_CANDIDATO'].astype(str).apply(unidecode.unidecode)
eleicao_grouped_2022['NM_URNA_CANDIDATO'] = eleicao_grouped_2022['NM_URNA_CANDIDATO'].str.strip()  # Remove leading and trailing spaces
eleicao_grouped_2022['NM_URNA_CANDIDATO'] = eleicao_grouped_2022['NM_URNA_CANDIDATO'].str.replace(r'\s+', ' ', regex=True)  # Normalize whitespace

# Convert to uppercase for case-insensitive comparison
centrao_2022['0'] = centrao_2022['0'].str.upper()
eleicao_grouped_2022['NM_URNA_CANDIDATO'] = eleicao_grouped_2022['NM_URNA_CANDIDATO'].str.upper()

In [63]:
eleicao_grouped_centrao_2022 = pd.merge(eleicao_grouped_2022, centrao_2022, left_on='NM_URNA_CANDIDATO', right_on='0', how='inner')
total_votes_city_2022 = eleicao_grouped_2022.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
centrao_votes_city_2022 = eleicao_grouped_centrao_2022.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
indice_centrao_2022 = centrao_votes_city_2022 / total_votes_city_2022
indice_centrao_2022 = indice_centrao_2022.reset_index()
indice_centrao_2022

      CD_MUNICIPIO  QT_VOTOS_NOMINAIS
0               19           0.096543
1               35           0.173251
2               51           0.072494
3               78           0.277175
4               94           0.017948
...            ...                ...
5565         98990           0.195708
5566         99015           0.074143
5567         99031           0.140244
5568         99058           0.186165
5569         99074           0.474576

[5570 rows x 2 columns]

In [64]:
names_cd_city = eleicao_2022_deputados[['CD_MUNICIPIO','NM_MUNICIPIO', 'SG_UF']].drop_duplicates()
names_cd_city = names_cd_city.reset_index()

indice_centrao_2022 = pd.merge(indice_centrao_2022, names_cd_city, on='CD_MUNICIPIO', how='inner')
indice_centrao_2022 = indice_centrao_2022.drop(columns=['CD_MUNICIPIO', 'index'])
indice_centrao_2022

      QT_VOTOS_NOMINAIS           NM_MUNICIPIO SG_UF
0              0.096543          GUAJARÁ-MIRIM    RO
1              0.173251            PORTO VELHO    RO
2              0.072494              JI-PARANÁ    RO
3              0.277175              ARIQUEMES    RO
4              0.017948                 CACOAL    RO
...                 ...                    ...   ...
5565           0.195708              VILA RICA    MT
5566           0.074143               COMODORO    MT
5567           0.140244  FIGUEIRÓPOLIS D OESTE    MT
5568           0.186165      GUARANTÃ DO NORTE    MT
5569           0.474576               INDIAVAÍ    MT

[5570 rows x 3 columns]

In [65]:
indice_centrao_2022.to_csv('indice_centrao_2022.csv', index=False)

# 2018

In [67]:
eleicao_geral_2018 = pd.read_csv('Eleicoes/votacao_candidato_munzona_2018/votacao_candidato_munzona_2018_BRASIL.csv', encoding='latin1', sep=';')

In [146]:
eleicao_2018_deputados.loc[eleicao_2018_deputados['CD_MUNICIPIO'] == 99074].groupby('NM_URNA_CANDIDATO')['QT_VOTOS_NOMINAIS'].sum().reset_index().sort_values('QT_VOTOS_NOMINAIS', ascending=False)

    NM_URNA_CANDIDATO  QT_VOTOS_NOMINAIS
20        DR LEONARDO                639
3       ADRIANO SILVA                125
34   EZEQUIEL FONSECA                117
107    VICTÓRIO GALLI                 74
26       EDNA SAMPAIO                 38
..                ...                ...
1    ADEVALDO TAXISTA                  0
54       JOSAIR LOPES                  0
53   JOQUEBEDY MOURÃO                  0
52        JAIR CEGATI                  0
0        ADAUTON TUIM                  0

[110 rows x 2 columns]

In [ ]:
eleicao_2018_deputados = eleicao_geral_2018[eleicao_geral_2018['DS_CARGO'] == 'Deputado Federal']
eleicao_grouped_2018 = eleicao_2018_deputados.groupby(['CD_MUNICIPIO','NM_URNA_CANDIDATO'])['QT_VOTOS_NOMINAIS'].sum().reset_index()

In [122]:
eleicao_2018_deputados.to_csv('eleicao_2018_deputados.csv', index=False)

In [115]:
# Normalize the names in centrao_2018
centrao_2018['0'] = centrao_2018['0'].astype(str).apply(unidecode.unidecode)
centrao_2018['0'] = centrao_2018['0'].str.strip()  # Remove leading and trailing spaces
centrao_2018['0'] = centrao_2018['0'].str.replace(r'"', ' ', regex=True)  # Normalize whitespace

# Normalize the names in merged_df_2018
eleicao_grouped_2018['NM_URNA_CANDIDATO'] = eleicao_grouped_2018['NM_URNA_CANDIDATO'].astype(str).apply(unidecode.unidecode)
eleicao_grouped_2018['NM_URNA_CANDIDATO'] = eleicao_grouped_2018['NM_URNA_CANDIDATO'].str.strip()  # Remove leading and trailing spaces
  # Normalize whitespace

# Convert to uppercase for case-insensitive comparison
centrao_2018['0'] = centrao_2018['0'].str.upper()
eleicao_grouped_2018['NM_URNA_CANDIDATO'] = eleicao_grouped_2018['NM_URNA_CANDIDATO'].str.upper()

In [95]:
eleicao_grouped_2018['NM_URNA_CANDIDATO'].drop_duplicates()

0          ADA DANTAS BOABAID
1            AFFONSO DA MABEL
2          AGNALDO NEPOMUCENO
3                ALEX CAMPELO
4                AROLDO COSTA
                  ...
2738555          WALTER CELIO
2738556            WILL GODOY
2738557           WILSON GREY
2738558          WILSON NOBRE
2738559              ZE EDMAR
Name: NM_URNA_CANDIDATO, Length: 7530, dtype: object

In [120]:
eleicao_grouped_centrao_2018 = pd.merge(eleicao_grouped_2018, centrao_2018, left_on='NM_URNA_CANDIDATO', right_on='0')
total_votes_city_2018 = eleicao_grouped_2018.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
centrao_votes_city_2018 = eleicao_grouped_centrao_2018.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
indice_centrao_2018 = centrao_votes_city_2018 / total_votes_city_2018
indice_centrao_2018 = indice_centrao_2018.reset_index()
indice_centrao_2018

      CD_MUNICIPIO  QT_VOTOS_NOMINAIS
0               19           0.222879
1               35           0.347140
2               51           0.088725
3               78           0.116533
4               94           0.179294
...            ...                ...
5565         98990           0.229101
5566         99015           0.161505
5567         99031           0.064586
5568         99058           0.341412
5569         99074           0.022128

[5570 rows x 2 columns]

In [121]:
names_cd_city_2018 = eleicao_2018_deputados[['CD_MUNICIPIO','NM_MUNICIPIO', 'SG_UF']].drop_duplicates()
names_cd_city_2018 = names_cd_city_2018.reset_index()

indice_centrao_2018 = pd.merge(indice_centrao_2018, names_cd_city_2018, on='CD_MUNICIPIO', how='inner')
indice_centrao_2018 = indice_centrao_2018.drop(columns=['CD_MUNICIPIO', 'index'])
indice_centrao_2018

      QT_VOTOS_NOMINAIS           NM_MUNICIPIO SG_UF
0              0.222879          GUAJARÁ-MIRIM    RO
1              0.347140            PORTO VELHO    RO
2              0.088725              JI-PARANÁ    RO
3              0.116533              ARIQUEMES    RO
4              0.179294                 CACOAL    RO
...                 ...                    ...   ...
5565           0.229101              VILA RICA    MT
5566           0.161505               COMODORO    MT
5567           0.064586  FIGUEIRÓPOLIS D OESTE    MT
5568           0.341412      GUARANTÃ DO NORTE    MT
5569           0.022128               INDIAVAÍ    MT

[5570 rows x 3 columns]

# 2014

In [124]:
eleicao_geral_2014 = pd.read_csv('Eleicoes/votacao_candidato_munzona_2014/votacao_candidato_munzona_2014_BRASIL.csv', encoding='latin1', sep=';')

In [125]:
eleicao_2014_deputados = eleicao_geral_2014[eleicao_geral_2014['DS_CARGO'] == 'Deputado Federal']
eleicao_grouped_2014 = eleicao_2014_deputados.groupby(['CD_MUNICIPIO','NM_URNA_CANDIDATO'])['QT_VOTOS_NOMINAIS'].sum().reset_index()

In [126]:
# Normalize the names in centrao_2014
centrao_2014['0'] = centrao_2014['0'].astype(str).apply(unidecode.unidecode)
centrao_2014['0'] = centrao_2014['0'].str.strip()  # Remove leading and trailing spaces
centrao_2014['0'] = centrao_2014['0'].str.replace(r'"', ' ', regex=True)  # Normalize whitespace

# Normalize the names in merged_df_2014
eleicao_grouped_2014['NM_URNA_CANDIDATO'] = eleicao_grouped_2014['NM_URNA_CANDIDATO'].astype(str).apply(unidecode.unidecode)
eleicao_grouped_2014['NM_URNA_CANDIDATO'] = eleicao_grouped_2014['NM_URNA_CANDIDATO'].str.strip()  # Remove leading and trailing spaces
eleicao_grouped_2014['NM_URNA_CANDIDATO'] = eleicao_grouped_2014['NM_URNA_CANDIDATO'].str.replace(r'\s+', ' ', regex=True)  # Normalize whitespace

# Convert to uppercase for case-insensitive comparison
centrao_2014['0'] = centrao_2014['0'].str.upper()
eleicao_grouped_2014['NM_URNA_CANDIDATO'] = eleicao_grouped_2014['NM_URNA_CANDIDATO'].str.upper()

In [127]:
eleicao_grouped_centrao_2014 = pd.merge(eleicao_grouped_2014, centrao_2014, left_on='NM_URNA_CANDIDATO', right_on='0')
total_votes_city_2014 = eleicao_grouped_2014.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
centrao_votes_city_2014 = eleicao_grouped_centrao_2014.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
indice_centrao_2014 = centrao_votes_city_2014 / total_votes_city_2014
indice_centrao_2014 = indice_centrao_2014.reset_index()
indice_centrao_2014

      CD_MUNICIPIO  QT_VOTOS_NOMINAIS
0               19           0.251927
1               35           0.176677
2               51           0.639632
3               78           0.123881
4               94           0.624510
...            ...                ...
5565         98990           0.432764
5566         99015           0.468067
5567         99031           0.531401
5568         99058           0.552537
5569         99074           0.515422

[5570 rows x 2 columns]

In [128]:
names_cd_city_2014 = eleicao_2014_deputados[['CD_MUNICIPIO','NM_MUNICIPIO', 'SG_UF']].drop_duplicates()
names_cd_city_2014 = names_cd_city_2014.reset_index()

indice_centrao_2014 = pd.merge(indice_centrao_2014, names_cd_city_2014, on='CD_MUNICIPIO', how='inner')
indice_centrao_2014 = indice_centrao_2014.drop(columns=['CD_MUNICIPIO', 'index'])
indice_centrao_2014

      QT_VOTOS_NOMINAIS           NM_MUNICIPIO SG_UF
0              0.251927          GUAJARÁ-MIRIM    RO
1              0.176677            PORTO VELHO    RO
2              0.639632              JI-PARANÁ    RO
3              0.123881              ARIQUEMES    RO
4              0.624510                 CACOAL    RO
...                 ...                    ...   ...
5565           0.432764              VILA RICA    MT
5566           0.468067               COMODORO    MT
5567           0.531401  FIGUEIRÓPOLIS D OESTE    MT
5568           0.552537      GUARANTÃ DO NORTE    MT
5569           0.515422               INDIAVAÍ    MT

[5570 rows x 3 columns]

# 2010

In [150]:
eleicao_geral_2010 = pd.read_csv('Eleicoes/votacao_candidato_munzona_2010/votacao_candidato_munzona_2010_BRASIL.csv', encoding='latin1', sep=';')
eleicao_2010_deputados = eleicao_geral_2010[eleicao_geral_2010['DS_CARGO'] == 'Deputado Federal']
eleicao_grouped_2010 = eleicao_2010_deputados.groupby(['CD_MUNICIPIO','NM_URNA_CANDIDATO'])['QT_VOTOS_NOMINAIS'].sum().reset_index()

# Normalize the names in centrao_2010
centrao_2010['0'] = centrao_2010['0'].astype(str).apply(unidecode.unidecode)
centrao_2010['0'] = centrao_2010['0'].str.strip()  # Remove leading and trailing spaces


# Normalize the names in eleicao_grouped_2010
eleicao_grouped_2010['NM_URNA_CANDIDATO'] = eleicao_grouped_2010['NM_URNA_CANDIDATO'].astype(str).apply(unidecode.unidecode)
eleicao_grouped_2010['NM_URNA_CANDIDATO'] = eleicao_grouped_2010['NM_URNA_CANDIDATO'].str.strip()  # Remove leading and trailing spaces
 # Normalize whitespace

# Convert to uppercase for case-insensitive comparison
centrao_2010['0'] = centrao_2010['0'].str.upper()
eleicao_grouped_2010['NM_URNA_CANDIDATO'] = eleicao_grouped_2010['NM_URNA_CANDIDATO'].str.upper()

# Merge and calculate indices
eleicao_grouped_centrao_2010 = pd.merge(eleicao_grouped_2010, centrao_2010, left_on='NM_URNA_CANDIDATO', right_on='0')
total_votes_city_2010 = eleicao_grouped_2010.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
centrao_votes_city_2010 = eleicao_grouped_centrao_2010.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
indice_centrao_2010 = centrao_votes_city_2010 / total_votes_city_2010
indice_centrao_2010 = indice_centrao_2010.reset_index()

# Merge with city names
names_cd_city_2010 = eleicao_2010_deputados[['CD_MUNICIPIO','NM_MUNICIPIO', 'SG_UF']].drop_duplicates()
names_cd_city_2010 = names_cd_city_2010.reset_index()

indice_centrao_2010 = pd.merge(indice_centrao_2010, names_cd_city_2010, on='CD_MUNICIPIO', how='inner')
indice_centrao_2010 = indice_centrao_2010.drop(columns=['CD_MUNICIPIO', 'index'])
indice_centrao_2010

      QT_VOTOS_NOMINAIS           NM_MUNICIPIO SG_UF
0              0.459705          GUAJARÁ-MIRIM    RO
1              0.286018            PORTO VELHO    RO
2              0.419550              JI-PARANÁ    RO
3              0.465378              ARIQUEMES    RO
4              0.632542                 CACOAL    RO
...                 ...                    ...   ...
5562           0.469298              VILA RICA    MT
5563           0.550825               COMODORO    MT
5564           0.575366  FIGUEIRÓPOLIS D OESTE    MT
5565           0.549821      GUARANTÃ DO NORTE    MT
5566           0.729844               INDIAVAÍ    MT

[5567 rows x 3 columns]

# 2006

In [151]:
eleicao_geral_2006 = pd.read_csv('Eleicoes/votacao_candidato_munzona_2006/votacao_candidato_munzona_2006_BRASIL.csv', encoding='latin1', sep=';')
eleicao_2006_deputados = eleicao_geral_2006[eleicao_geral_2006['DS_CARGO'] == 'Deputado Federal']
eleicao_grouped_2006 = eleicao_2006_deputados.groupby(['CD_MUNICIPIO','NM_URNA_CANDIDATO'])['QT_VOTOS_NOMINAIS'].sum().reset_index()

# Normalize the names in centrao_2006
centrao_2006['0'] = centrao_2006['0'].astype(str).apply(unidecode.unidecode)
centrao_2006['0'] = centrao_2006['0'].str.strip()  # Remove leading and trailing spaces

# Normalize the names in eleicao_grouped_2006
eleicao_grouped_2006['NM_URNA_CANDIDATO'] = eleicao_grouped_2006['NM_URNA_CANDIDATO'].astype(str).apply(unidecode.unidecode)
eleicao_grouped_2006['NM_URNA_CANDIDATO'] = eleicao_grouped_2006['NM_URNA_CANDIDATO'].str.strip()  # Remove leading and trailing spaces
eleicao_grouped_2006['NM_URNA_CANDIDATO'] = eleicao_grouped_2006['NM_URNA_CANDIDATO'].str.replace(r'\s+', ' ', regex=True)  # Normalize whitespace

# Convert to uppercase for case-insensitive comparison
centrao_2006['0'] = centrao_2006['0'].str.upper()
eleicao_grouped_2006['NM_URNA_CANDIDATO'] = eleicao_grouped_2006['NM_URNA_CANDIDATO'].str.upper()

# Merge and calculate indices
eleicao_grouped_centrao_2006 = pd.merge(eleicao_grouped_2006, centrao_2006, left_on='NM_URNA_CANDIDATO', right_on='0')
total_votes_city_2006 = eleicao_grouped_2006.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
centrao_votes_city_2006 = eleicao_grouped_centrao_2006.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
indice_centrao_2006 = centrao_votes_city_2006 / total_votes_city_2006
indice_centrao_2006 = indice_centrao_2006.reset_index()

# Merge with city names
names_cd_city_2006 = eleicao_2006_deputados[['CD_MUNICIPIO','NM_MUNICIPIO', 'SG_UF']].drop_duplicates()
names_cd_city_2006 = names_cd_city_2006.reset_index()

indice_centrao_2006 = pd.merge(indice_centrao_2006, names_cd_city_2006, on='CD_MUNICIPIO', how='inner')
indice_centrao_2006 = indice_centrao_2006.drop(columns=['CD_MUNICIPIO', 'index'])
indice_centrao_2006

      QT_VOTOS_NOMINAIS           NM_MUNICIPIO SG_UF
0              0.070962          GUAJARÁ-MIRIM    RO
1              0.022331            PORTO VELHO    RO
2              0.103154              JI-PARANÁ    RO
3              0.067895              ARIQUEMES    RO
4              0.075635                 CACOAL    RO
...                 ...                    ...   ...
5560           0.587477              VILA RICA    MT
5561           0.715895               COMODORO    MT
5562           0.794481  FIGUEIRÓPOLIS D OESTE    MT
5563           0.274964      GUARANTÃ DO NORTE    MT
5564           0.799694               INDIAVAÍ    MT

[5565 rows x 3 columns]

# 2002

In [152]:
eleicao_geral_2002 = pd.read_csv('Eleicoes/votacao_candidato_munzona_2002/votacao_candidato_munzona_2002_BRASIL.csv', encoding='latin1', sep=';')
eleicao_2002_deputados = eleicao_geral_2002[eleicao_geral_2002['DS_CARGO'] == 'Deputado Federal']
eleicao_grouped_2002 = eleicao_2002_deputados.groupby(['CD_MUNICIPIO','NM_URNA_CANDIDATO'])['QT_VOTOS_NOMINAIS'].sum().reset_index()

# Normalize the names in centrao_2002
centrao_2002['0'] = centrao_2002['0'].astype(str).apply(unidecode.unidecode)
centrao_2002['0'] = centrao_2002['0'].str.strip()  # Remove leading and trailing spaces

# Normalize the names in eleicao_grouped_2002
eleicao_grouped_2002['NM_URNA_CANDIDATO'] = eleicao_grouped_2002['NM_URNA_CANDIDATO'].astype(str).apply(unidecode.unidecode)
eleicao_grouped_2002['NM_URNA_CANDIDATO'] = eleicao_grouped_2002['NM_URNA_CANDIDATO'].str.strip()  # Remove leading and trailing spaces
eleicao_grouped_2002['NM_URNA_CANDIDATO'] = eleicao_grouped_2002['NM_URNA_CANDIDATO'].str.replace(r'\s+', ' ', regex=True)  # Normalize whitespace

# Convert to uppercase for case-insensitive comparison
centrao_2002['0'] = centrao_2002['0'].str.upper()
eleicao_grouped_2002['NM_URNA_CANDIDATO'] = eleicao_grouped_2002['NM_URNA_CANDIDATO'].str.upper()

# Merge and calculate indices
eleicao_grouped_centrao_2002 = pd.merge(eleicao_grouped_2002, centrao_2002, left_on='NM_URNA_CANDIDATO', right_on='0')
total_votes_city_2002 = eleicao_grouped_2002.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
centrao_votes_city_2002 = eleicao_grouped_centrao_2002.groupby('CD_MUNICIPIO')['QT_VOTOS_NOMINAIS'].sum()
indice_centrao_2002 = centrao_votes_city_2002 / total_votes_city_2002
indice_centrao_2002 = indice_centrao_2002.reset_index()

# Merge with city names
names_cd_city_2002 = eleicao_2002_deputados[['CD_MUNICIPIO','NM_MUNICIPIO', 'SG_UF']].drop_duplicates()
names_cd_city_2002 = names_cd_city_2002.reset_index()

indice_centrao_2002 = pd.merge(indice_centrao_2002, names_cd_city_2002, on='CD_MUNICIPIO', how='inner')
indice_centrao_2002 = indice_centrao_2002.drop(columns=['CD_MUNICIPIO', 'index'])
indice_centrao_2002

      QT_VOTOS_NOMINAIS           NM_MUNICIPIO SG_UF
0              0.096088          GUAJARA MIRIM    RO
1              0.212973            PORTO VELHO    RO
2              0.273620              JI PARANA    RO
3              0.541285              ARIQUEMES    RO
4              0.596177                 CACOAL    RO
...                 ...                    ...   ...
5560           0.742933              VILA RICA    MT
5561           0.870376               COMODORO    MT
5562           0.655788  FIGUEIROPOLIS D OESTE    MT
5563           0.867627      GUARANTA DO NORTE    MT
5564           0.695261               INDIAVAI    MT

[5565 rows x 3 columns]

# Exports

In [153]:
indice_centrao_2002.to_csv('indice_centrao_2002.csv', index=False)
indice_centrao_2006.to_csv('indice_centrao_2006.csv', index=False)
indice_centrao_2010.to_csv('indice_centrao_2010.csv', index=False)
indice_centrao_2014.to_csv('indice_centrao_2014.csv', index=False)
indice_centrao_2018.to_csv('indice_centrao_2018.csv', index=False)
indice_centrao_2022.to_csv('indice_centrao_2022.csv', index=False)

In [2]:
import pandas as pd
indice_centrao_2002 = pd.read_csv('indice_centrao_2002.csv')
indice_centrao_2006 = pd.read_csv('indice_centrao_2006.csv')
indice_centrao_2010 = pd.read_csv('indice_centrao_2010.csv')
indice_centrao_2014 = pd.read_csv('indice_centrao_2014.csv')
indice_centrao_2018 = pd.read_csv('indice_centrao_2018.csv')
indice_centrao_2022 = pd.read_csv('indice_centrao_2022.csv')

In [3]:
# Add a year column to each dataframe
indice_centrao_2002['Year'] = 2002
indice_centrao_2006['Year'] = 2006
indice_centrao_2010['Year'] = 2010
indice_centrao_2014['Year'] = 2014
indice_centrao_2018['Year'] = 2018
indice_centrao_2022['Year'] = 2022

# Combine all dataframes into one
panel_data = pd.concat([indice_centrao_2002, indice_centrao_2006, indice_centrao_2010, indice_centrao_2014, indice_centrao_2018, indice_centrao_2022])

# Reset index
panel_data = panel_data.reset_index(drop=True)

panel_data

       QT_VOTOS_NOMINAIS           NM_MUNICIPIO SG_UF  Year
0               0.096088          GUAJARA MIRIM    RO  2002
1               0.212973            PORTO VELHO    RO  2002
2               0.273620              JI PARANA    RO  2002
3               0.541285              ARIQUEMES    RO  2002
4               0.596177                 CACOAL    RO  2002
...                  ...                    ...   ...   ...
33402           0.195708              VILA RICA    MT  2022
33403           0.074143               COMODORO    MT  2022
33404           0.140244  FIGUEIRÓPOLIS D OESTE    MT  2022
33405           0.186165      GUARANTÃ DO NORTE    MT  2022
33406           0.474576               INDIAVAÍ    MT  2022

[33407 rows x 4 columns]

In [4]:
panel_data.to_csv('panel_data_indice.csv', index=False)