In [26]:
import pandas as pd
eleicao_dados_2002 = pd.read_csv('votacao_candidato-municipio_deputado_federal_2002.csv\\votacao_candidato-municipio_deputado_federal_2002.csv')
eleicao_dados_2006 = pd.read_csv('votacao_candidato-municipio_deputado_federal_2006.csv\\votacao_candidato-municipio_deputado_federal_2006.csv')
eleicao_dados_2010 = pd.read_csv('votacao_candidato-municipio_deputado_federal_2010.csv\\votacao_candidato-municipio_deputado_federal_2010.csv')
eleicao_dados_2014 = pd.read_csv('votacao_candidato-municipio_deputado_federal_2014.csv\\votacao_candidato-municipio_deputado_federal_2014.csv')
eleicao_dados_2018 = pd.read_csv('votacao_candidato-municipio_deputado_federal_2018.csv\\votacao_candidato-municipio_deputado_federal_2018.csv')

In [27]:
centrao_2003 = pd.read_csv('..\\porposicoes\\centrao_2003.csv')
centrao_2007 = pd.read_csv('..\\porposicoes\\centrao_2007.csv')
centrao_2011 = pd.read_csv('..\\porposicoes\\centrao_2011.csv')
centrao_2015 = pd.read_csv('..\\porposicoes\\centrao_2015.csv') 
centrao_2019 = pd.read_csv('..\\porposicoes\\centrao_2019.csv')

In [28]:
eleicao_centrao_2002 = eleicao_dados_2002[eleicao_dados_2002['nm_urna_candidato'].isin(centrao_2003['0'].str.upper())]

In [29]:
len(eleicao_centrao_2002['nm_municipio'].unique())

5273

In [30]:
votos_centrao_por_municipio_2002 = pd.pivot_table(eleicao_centrao_2002, index='nm_municipio', columns='nm_candidato', values='qt_votos_nom_validos', aggfunc='sum', fill_value=0)
total_2002 = eleicao_dados_2002.groupby('nm_municipio')['qt_votos_nom_validos'].sum()
votos_centrao_soma_2002 = votos_centrao_por_municipio_2002.sum(axis=1)
votos_centrao_soma_2002

nm_municipio
ABADIA DE GOIAS        1466
ABADIA DOS DOURADOS     415
ABADIANIA              1958
ABAETE                 5329
ABAETETUBA             8718
                       ...
XIQUE XIQUE            6581
ZABELE                  172
ZACARIAS                209
ZE DOCA                2134
ZORTEA                  305
Length: 5273, dtype: int64

In [31]:
percentage_votos_centrao_2002 = (votos_centrao_soma_2002 / total_2002)
percentage_votos_centrao_2002 = pd.DataFrame(percentage_votos_centrao_2002)
unique_siglas = eleicao_dados_2002[['nm_municipio', 'sg_uf']].drop_duplicates(subset=['nm_municipio'])

percentage_votos_centrao_2002 = percentage_votos_centrao_2002.merge(unique_siglas, on='nm_municipio')
percentage_votos_centrao_2002.to_csv('indice_centrao_2002.csv')

In [32]:
percentage_votos_centrao_2002

             nm_municipio         0 sg_uf
0         ABADIA DE GOIAS  0.532897    GO
1     ABADIA DOS DOURADOS  0.113048    MG
2               ABADIANIA  0.361055    GO
3                  ABAETE  0.489618    MG
4              ABAETETUBA  0.174587    PA
...                   ...       ...   ...
5273          XIQUE XIQUE  0.347557    BA
5274               ZABELE  0.179167    PB
5275             ZACARIAS  0.184792    SP
5276              ZE DOCA  0.140979    MA
5277               ZORTEA  0.197667    SC

[5278 rows x 3 columns]

In [33]:
percentage_votos_centrao_2002

             nm_municipio         0 sg_uf
0         ABADIA DE GOIAS  0.532897    GO
1     ABADIA DOS DOURADOS  0.113048    MG
2               ABADIANIA  0.361055    GO
3                  ABAETE  0.489618    MG
4              ABAETETUBA  0.174587    PA
...                   ...       ...   ...
5273          XIQUE XIQUE  0.347557    BA
5274               ZABELE  0.179167    PB
5275             ZACARIAS  0.184792    SP
5276              ZE DOCA  0.140979    MA
5277               ZORTEA  0.197667    SC

[5278 rows x 3 columns]

In [34]:
eleicao_centrao_2006 = eleicao_dados_2006[eleicao_dados_2006['nm_urna_candidato'].isin(centrao_2007['0'].str.upper())]
votos_centrao_por_municipio_2006 = pd.pivot_table(eleicao_centrao_2006, index='nm_municipio', columns='nm_candidato', values='qt_votos_nom_validos', aggfunc='sum', fill_value=0)
total_2006 = eleicao_dados_2006.groupby('nm_municipio')['qt_votos_nom_validos'].sum()
votos_centrao_soma_2006 = votos_centrao_por_municipio_2006.sum(axis=1)
votos_centrao_soma_2006

nm_municipio
ABADIA DE GOIÁS         1586
ABADIA DOS DOURADOS      153
ABADIÂNIA               3562
ABAETETUBA             15962
ABAETÉ                   597
                       ...
ÁUREA                    541
ÂNGULO                  1074
ÉRICO CARDOSO            238
ÓBIDOS                  3499
ÓLEO                     846
Length: 5288, dtype: int64

In [35]:
percentage_votos_centrao_2006 = (votos_centrao_soma_2006 / total_2006)
unique_siglas = eleicao_dados_2006[['nm_municipio', 'sg_uf']].drop_duplicates(subset=['nm_municipio'])
percentage_votos_centrao_2006 = pd.DataFrame(percentage_votos_centrao_2006)
percentage_votos_centrao_2006 = pd.DataFrame(percentage_votos_centrao_2006).merge(unique_siglas, on='nm_municipio')
percentage_votos_centrao_2006.to_csv('indice_centrao_2006.csv')

In [36]:
eleicao_centrao_2010 = eleicao_dados_2010[eleicao_dados_2010['nm_urna_candidato'].isin(centrao_2011['0'].str.upper())]
votos_centrao_por_municipio_2010 = pd.pivot_table(eleicao_centrao_2010, index='nm_municipio', columns='nm_candidato', values='qt_votos_nom_validos', aggfunc='sum', fill_value=0)
total_2010 = eleicao_dados_2010.groupby('nm_municipio')['qt_votos_nom_validos'].sum()
votos_centrao_soma_2010 = votos_centrao_por_municipio_2010.sum(axis=1)
votos_centrao_soma_2010

nm_municipio
ABADIA DE GOIÁS        1585
ABADIA DOS DOURADOS    2933
ABADIÂNIA              3573
ABAETETUBA             6685
ABAETÉ                 2393
                       ...
ÁUREA                   108
ÂNGULO                  459
ÉRICO CARDOSO           200
ÓBIDOS                  803
ÓLEO                    183
Length: 5293, dtype: int64

In [37]:
percentage_votos_centrao_2010 = (votos_centrao_soma_2010 / total_2010)
unique_siglas = eleicao_dados_2010[['nm_municipio', 'sg_uf']].drop_duplicates(subset=['nm_municipio'])
percentage_votos_centrao_2010 = pd.DataFrame(percentage_votos_centrao_2010)
percentage_votos_centrao_2010 = pd.DataFrame(percentage_votos_centrao_2010).merge(unique_siglas, on='nm_municipio')
percentage_votos_centrao_2010.to_csv('indice_centrao_2010.csv')

In [38]:
eleicao_centrao_2014 = eleicao_dados_2014[eleicao_dados_2014['nm_urna_candidato'].isin(centrao_2015['0'].str.upper())]
votos_centrao_por_municipio_2014 = pd.pivot_table(eleicao_centrao_2014, index='nm_municipio', columns='nm_candidato', values='qt_votos_nom_validos', aggfunc='sum', fill_value=0)
total_2014 = eleicao_dados_2014.groupby('nm_municipio')['qt_votos_nom_validos'].sum()
votos_centrao_soma_2014 = votos_centrao_por_municipio_2014.sum(axis=1)
votos_centrao_soma_2014

nm_municipio
ABADIA DE GOIÁS        1180
ABADIA DOS DOURADOS    1308
ABADIÂNIA              1523
ABAETETUBA             3097
ABAETÉ                  475
                       ...
ÁUREA                    73
ÂNGULO                 1265
ÉRICO CARDOSO          4298
ÓBIDOS                  976
ÓLEO                    792
Length: 5297, dtype: int64

In [43]:
percentage_votos_centrao_2014 = (votos_centrao_soma_2014 / total_2014)
unique_siglas = eleicao_dados_2014[['nm_municipio', 'sg_uf']].drop_duplicates(subset=['nm_municipio'])
percentage_votos_centrao_2014 = pd.DataFrame(percentage_votos_centrao_2014)
percentage_votos_centrao_2014 = percentage_votos_centrao_2014.merge(unique_siglas, on='nm_municipio')
percentage_votos_centrao_2014.to_csv('indice_centrao_2014.csv')

In [40]:
eleicao_centrao_2018 = eleicao_dados_2018[eleicao_dados_2018['nm_urna_candidato'].isin(centrao_2019['0'].str.upper())]
votos_centrao_por_municipio_2018 = pd.pivot_table(eleicao_centrao_2018, index='nm_municipio', columns='nm_candidato', values='qt_votos_nom_validos', aggfunc='sum', fill_value=0)
total_2018 = eleicao_dados_2018.groupby('nm_municipio')['qt_votos_nom_validos'].sum()
votos_centrao_soma_2018 = votos_centrao_por_municipio_2018.sum(axis=1)
votos_centrao_soma_2018

nm_municipio
ABADIA DE GOIÁS         1393
ABADIA DOS DOURADOS      492
ABADIÂNIA               2277
ABAETETUBA             15755
ABAETÉ                  1581
                       ...
ÁUREA                   1118
ÂNGULO                   308
ÉRICO CARDOSO           3374
ÓBIDOS                  3423
ÓLEO                     368
Length: 5297, dtype: int64

In [41]:
percentage_votos_centrao_2018 = (votos_centrao_soma_2018 / total_2018)
unique_siglas = eleicao_dados_2018[['nm_municipio', 'sg_uf']].drop_duplicates(subset=['nm_municipio'])
percentage_votos_centrao_2018 = pd.DataFrame(percentage_votos_centrao_2018)
percentage_votos_centrao_2018 = pd.DataFrame(percentage_votos_centrao_2018).merge(unique_siglas, on='nm_municipio')
percentage_votos_centrao_2018.to_csv('indice_centrao_2018.csv')

# NEW

In [1]:
import pandas as pd

eleitos_2022 = pd.read_csv("eleitos_2022.csv")
centrao_2022 = pd.read_csv("centrao_2022.csv")
eleitos_2022.columns = eleitos_2022.columns.str.lower()
eleicao_centrao_2022 = eleitos_2022[eleitos_2022['nm_urna_candidato'].str.upper().isin(centrao_2022['0'].str.upper())]
votos_centrao_por_municipio_2022 = pd.pivot_table(eleicao_centrao_2022, index='nm_municipio', columns='nm_candidato', values='qt_votos_nominais_validos', aggfunc='sum', fill_value=0)
total_2022 = eleitos_2022.groupby('nm_municipio')['qt_votos_nominais_validos'].sum()
votos_centrao_soma_2022 = votos_centrao_por_municipio_2022.sum(axis=1)

percentage_votos_centrao_2022 = (votos_centrao_soma_2022 / total_2022)
unique_siglas = eleitos_2022[['nm_municipio', 'sg_uf']].drop_duplicates(subset=['nm_municipio'])
percentage_votos_centrao_2022 = pd.DataFrame(percentage_votos_centrao_2022)
percentage_votos_centrao_2022 = pd.DataFrame(percentage_votos_centrao_2022).merge(unique_siglas, on='nm_municipio')
percentage_votos_centrao_2022.to_csv('indice_centrao_2022.csv')

In [2]:
percentage_votos_centrao_2022

             nm_municipio         0 sg_uf
0         ABADIA DE GOIÁS  0.659899    GO
1     ABADIA DOS DOURADOS  0.783831    MG
2               ABADIÂNIA  0.713741    GO
3              ABAETETUBA  0.357668    PA
4                  ABAETÉ  0.199108    MG
...                   ...       ...   ...
5292                ÁUREA  0.483437    RS
5293               ÂNGULO  0.670872    PR
5294        ÉRICO CARDOSO  0.936180    BA
5295               ÓBIDOS  0.508672    PA
5296                 ÓLEO  0.413939    SP

[5297 rows x 3 columns]

In [3]:
percentage_votos_centrao_2022

             nm_municipio         0 sg_uf
0         ABADIA DE GOIÁS  0.659899    GO
1     ABADIA DOS DOURADOS  0.783831    MG
2               ABADIÂNIA  0.713741    GO
3              ABAETETUBA  0.357668    PA
4                  ABAETÉ  0.199108    MG
...                   ...       ...   ...
5292                ÁUREA  0.483437    RS
5293               ÂNGULO  0.670872    PR
5294        ÉRICO CARDOSO  0.936180    BA
5295               ÓBIDOS  0.508672    PA
5296                 ÓLEO  0.413939    SP

[5297 rows x 3 columns]